<br>
<center>That is my favorite!
<p>What kind of meat would you like on that <%= shells %> shell, chicken or beef?
<form method="post" action="meat">
    <input type="text"  name="meat_choice">
    <input type="text" name="shells" value= <%= shells %> hidden>
    <br>
    <br>
    <input type="submit">
</form></p></center>