<br>
That is my favorite!
What kind of meat would you like on that <%= shell %> shell, chicken or beef?
<form method="post" action="meat">
    <input type="text"  name="meat_choice">
    <input type="text" name="shells" value= <%= shells %> hidden>
    <br>
    <br>
    <input type="submit">
</form>