<b> Hello</b>
<br>
Welcome to my Taco Shop!
What kind of Taco shell would you like hard or soft?
<form method="post" action="shells">
    <input type="text"  name="shells">
    <br>
    <br>
    <input type="submit">
</form>





