<html>

<head>

<style>
body {

	background-color: black;
}
</style>

<body>
<h1>
<center><font size="72" color= "red">Welcome to my Taco Shop!</font></center>
</h1>>

<center><p><font size= "48" color= "red"> What kind of Taco shell would you like hard or soft?</font>

<center><img src="images/hardsoft.png" alt="hard and soft tacos" width="500" height="377"></center>

<form method="post" action="shells">
    <input type="text"  name="shells">
    <br>
    <br>
    <input type="submit">
</form></p></center></body>
	

<html>




